* {
  margin: 0;
  padding: 0
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #F0F0F0;
  font-family: Futura, Nunito;
}

header, footer {
  padding: 12px 0;
  text-align: center;
  background: #BFBFBF;
}

nav {
  text-align: center;
  background: #DFDFDF;
}

nav ul {
  list-style: none
}

nav ul li {
  margin: 8px 0;
  padding:  6px 12px;
  border-radius: 4px;
  background: #0000BB;
  display: inline-block;
}

a:link, a:visited {
  color: #F0F0F0;
  text-decoration: none;
}

a:hover, a:active {
  color: #0000BB;
  background: #F0F0F0
}

main {
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  display: flex
}

main div {
  padding: 24px;
  border-radius: 8px;
  display: inline-block;
  background: #FF4500
}

main h2, main h3 {
  color: #0F0F0F;
  text-align: center
}

main hr {
  border-color: #0F0F0F
}

.error404 {
  background: #FF000077
}

.error401 {

}

.error500 {
  background: #FFFF0077;
}